:root {
  --figma-color-bg-brand: #0d99ff;
  --figma-color-bg-component: #9747ff;
  --figma-color-bg-success: #14ae5c;
  --figma-color-bg-danger: #f24822;

  --figma-color-text: #{rgba(#000000, 0.9)};
  --figma-color-text-secondary: #{rgba(#000000, 0.4)};

  --figma-color-bg: #ffffff;
  --figma-color-bg-secondary: #f5f5f5;
  --figma-color-bg-tertiary: #ebebeb;
}

.figma-dark:root {
  --figma-color-bg-brand: #0c8ce9;
  --figma-color-bg-component: #8a38f5;
  --figma-color-bg-success: #198f51;
  --figma-color-bg-danger: #e03e1a;

  --figma-color-text: #{rgba(#ffffff, 0.9)};
  --figma-color-text-secondary: #{rgba(#ffffff, 0.4)};

  --figma-color-bg: #2c2c2c;
  --figma-color-bg-secondary: #383838;
  --figma-color-bg-tertiary: #444444;
}
