@import "@/styles/variables.scss";

.settings {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;

  &__content {
    overflow: auto;
    overflow-x: hidden;
    height: 100%;
  }
}
.section {
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 8px;

  &__header {
    display: flex;
    align-items: center;
    gap: 8px;

    &-icon {
      width: 20px;
      height: 20px;
      flex: none;
    }
    &-title {
      @extend .text-sm;
      font-weight: 500;
      color: var(--figma-color-text);
    }
    &-actions {
      margin-left: auto;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &--actions {
    gap: 12px;
  }

  &:not(:last-child) {
    border-bottom: 1px solid var(--figma-color-bg-secondary);
  }
}
