.input {
  --border-width: 1px;
  --border-color: var(--figma-color-bg-secondary);

  width: fit-content;
  display: flex;
  padding: 8px;
  transition: all 0.1s ease-in-out;
  height: 32px;
  background: var(--figma-color-bg);
  border-radius: 6px;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  color: var(--figma-color-text);
  box-shadow: inset 0 0 0 var(--border-width) var(--border-color);
  border: 0;
  outline: none;

  &::placeholder {
    color: var(--figma-color-text-secondary);
  }
  &:hover {
    --border-color: var(--figma-color-bg-tertiary);
  }
  &:focus {
    --border-width: 2px;
    --border-color: var(--figma-color-bg-brand);
  }

  &--center {
    justify-content: center;
    text-align: center;
  }
  &--full {
    width: 100%;
  }
}
