.navigations {
  @extend .text-sm;
  font-weight: 600;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 4px;
  border-bottom: 1px solid var(--figma-color-bg-tertiary);
}
.navigations-accessory {
  @extend .text-sm;
  font-weight: 600;
  color: var(--figma-color-text);
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 8px;
}
