.tabs {
  display: inline-flex;
  flex-wrap: nowrap;
  overflow: auto;
  align-items: center;
  gap: 16px;
}
.tab {
  @extend .text-md;
  font-weight: 500;
  color: var(--figma-color-text-secondary);
  background: transparent;
  border: none;
  outline: none;
  padding: 0;

  &--active {
    color: var(--figma-color-text);
  }
}
