.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  margin: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
  border-radius: 6px;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.005em;

  // Variants
  &--primary {
    --solid-background: #18A0FB;

    --outline-border: #18A0FB;
    --outline-border-focus: var(--outline-border);
  }
  &--secondary {
    --solid-background: rgba(0, 0, 0, 0.8);

    --outline-border: rgba(0, 0, 0, 0.8);
    --outline-border-focus: #18A0FB;
  }
  &--destructive {
    --solid-background: #F24822;

    --outline-border: #F24822;
    --outline-border-focus: var(--outline-border);
  }

  // Types
  &--solid {
    background: var(--solid-background);
    color: var(--solid-color, #ffffff);

    &:focus {
      box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.3);
    }
  }
  &--outline {
    box-shadow: inset 0 0 0 1px var(--outline-border);
    color: var(--color, rgba(0, 0, 0, 0.8));

    &:focus {
      box-shadow: inset 0 0 0 2px var(--outline-border-focus);
    }
  }

  // States
  &--full {
    width: 100%;
  }
  &--disabled {
    --solid-background: #000;

    --outline-border: #000;
    --outline-border-focus: var(--outline-border);
    --outline-color: #000;
    opacity: .3;
    cursor: not-allowed;
    pointer-events: none;
  }
  &--loading {
    pointer-events: none;

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

    svg {
      animation: spin 1s linear infinite;
    }
    &:focus {
      box-shadow: inherit;
    }
  }
}
